<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:body>
	<h:form>
		<h:outputText value="Deseja realmente apagar o Cliente: #{cliBean.clienteVO.nome}?"></h:outputText>
		<br />
		<h:commandButton value="SIM" action="#{cliBean.apagar}" type="submit"></h:commandButton>
		&nbsp;
		<h:commandButton value="NÃO" action="listar"></h:commandButton>
	</h:form>
</h:body>
</html>
