<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <link rel="stylesheet" type="text/css" href="site.css"/>
    </h:head>
    <h:body>
        <h:form>
            <h:outputText value="Atualizar Cliente" style="font-size:20px;font-weight:bold"></h:outputText>
            <br/><br/>
            <h:outputLabel value="Nome:"></h:outputLabel><br/>
            <h:inputText id="nome" value="#{cliBean.clienteVO.nome}" styleClass="estilo_campos"></h:inputText>
            <br/><br/>
            <h:outputLabel value="E-mail:"></h:outputLabel><br/>
            <h:inputText id="email" value="#{cliBean.clienteVO.email}" styleClass="estilo_campos"></h:inputText>
            <br/><br/>
            <h:outputLabel value="Idade:"></h:outputLabel><br/>
            <h:inputText id="idade" value="#{cliBean.clienteVO.idade}" styleClass="estilo_campos"></h:inputText>
            <br/><br/>
            <h:commandButton styleClass="button" action="#{cliBean.update}" type="submit" value="Atualizar"></h:commandButton>
            <h:commandButton styleClass="button" type="reset" value="Limpar"></h:commandButton>
        </h:form>
    </h:body>

</html>