<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>Clientes</title>
        <link rel="stylesheet" type="text/css" href="site.css"/>
    </h:head>

    <h:body>
        <h:form>
            <h:dataTable value="#{cliBean.clientes}" var="dados" headerClass="header" styleClass="listagem" rowClasses="row1, row2">
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Código"></h:outputText>
                    </f:facet>
                    <h:outputText value="#{dados.id}"></h:outputText>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Nome"></h:outputText>
                    </f:facet>
                    <h:outputText value="#{dados.nome}"></h:outputText>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="E-mail"></h:outputText>
                    </f:facet>
                    <h:outputText value="#{dados.email}"></h:outputText>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Idade"></h:outputText>
                    </f:facet>
                    <h:outputText value="#{dados.idade}"></h:outputText>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Ações"></h:outputText>
                    </f:facet>
                    <h:commandButton value="[EDITAR]" action="editar" actionListener="#{cliBean.selecionarReg}"></h:commandButton>
                    <h:commandButton value="[APAGAR]" action="deletar" actionListener="#{cliBean.selecionarReg}"></h:commandButton>
                </h:column>
            </h:dataTable>

            <h:commandLink value="Novo Cliente" action="novo" actionListener="#{cliBean.novoReg}"></h:commandLink>
        </h:form>
    </h:body>
</html>