body{
	background-color: #c0c0c0;
}

.estilo_campos {
	font-family: Arial;
	font-size: 18px;
	color: #000000;
	background-color: yellow;
	width: 300px;
	border: none;
}

.button {
	font-family: Arial;
	font-size: 18px;
	color: #FFFFFF;
	background-color: cyan;
}

.erros {
	font-family: Arial;
	font-size: 14px;
	color: red;
	font-weight: bold;
}

.header {
	font-family: Arial;
	font-size: 14px;
	color: yellow;
	background-color: red;
	padding: 5px;
}

.listagem {
	width: 100%;
	border-color: #000000;
	border-width: 2px;
	border-bottom-style: solid;
	background-color: #FFFFFF;
}

.row1 {
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	padding: 5px;
}

.row2 {
	font-family: Arial;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #c0c0c0;
	padding: 5px;
}