<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <head>
        <title>usuário</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <ui:composition template="/template.xhtml">
            <ui:define name="title">
                Incluir usuário
            </ui:define>
            <ui:define name="body">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:form>
                    <h:panelGrid columns="2">
                        <h:outputLabel value="Nome" for="nome" />
                        <h:inputText id="nome" value="#{usuarioController.usuario.nome}" title="nome" />

                        <h:outputLabel value="Sobrenome" for="sobrenome" />
                        <h:inputText id="sobrenome" value="#{usuarioController.usuario.sobrenome}" title="sobrenome" />

                        <h:outputLabel value="Idade" for="idade" />
                        <h:inputText id="idade" value="#{usuarioController.usuario.idade}" title="idade" />

                        <h:outputLabel value="Bairro" for="bairro" />
                        <h:inputText id="bairro" value="#{usuarioController.usuario.bairro}" title="bairro" />

                        <h:outputLabel value="Cidade" for="cidade" />
                        <h:inputText id="cidade" value="#{usuarioController.usuario.cidade}" title="cidade" />

                        <h:outputLabel value="Estado" for="uf" />
                        <h:inputText id="uf" value="#{usuarioController.usuario.uf}" title="uf" />

                        <h:outputLabel value="Pais" for="pais" />
                        <h:inputText id="pais" value="#{usuarioController.usuario.pais}" title="pais" />

                    </h:panelGrid>
                    <h:commandButton action="#{usuarioController.incluir}" value="Incluir"/>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
