<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:e="http://xmlns.jcp.org/jsf">
    <head>
        <title>Usuário</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>Usuário cadastrado!</div>
        <p><h:outputText value="#{usuarioController.usuario.nome}"/></p>
        <p><h:outputText value="#{usuarioController.usuario.sobrenome}"/></p>
        <p><h:outputText value="#{usuarioController.usuario.idade}"/></p>
        <p><h:outputText value="#{usuarioController.usuario.bairro}"/></p>
        <p><h:outputText value="#{usuarioController.usuario.cidade}"/></p>
        <p><h:outputText value="#{usuarioController.usuario.uf}"/></p>
        <p><h:outputText value="#{usuarioController.usuario.pais}"/></p>
        <p><h:outputText value="#{usuarioController.usuario}"/></p>
    </body>
</html>
