<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:e="http://xmlns.jcp.org/jsf">

    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h:form>
            <h:panelGrid columns="2" rendered="#{!login.loggedIn}">
                <f:validateBean>
                    <h:outputLabel for="username">Username:</h:outputLabel>
                    <h:inputText id="username" value="#{credentials.username}"/>
                    <h:outputLabel for="password">Password:</h:outputLabel>
                    <h:inputSecret id="password" value="#{credentials.password}"/>
                </f:validateBean>
            </h:panelGrid>
            <h:commandButton value="Login" action="#{login.login}" rendered="#{!login.loggedIn}"/>
        </h:form>
    </body>
</html>
